/************************************************Defaults*/
:root {
    --cerulean-blue: #2754ceff;
    --pacific-blue: #30aabcff;
    --medium-spring-green: #38ffaaff;
    --aero-blue: #cdffe9ff;
    --steel-teal: #698993ff;
    --y-in-mn-blue: #374e68ff;
    --oxford-blue: #05123cff;
    --st-patricks-blue: #163385ff;
    --white: #fefefeff;
    --space-cadet: #152449ff;
}

.big-curve { width: 100%;}
.small-curve { width: 70%;}

.big-curve, .small-curve {
    margin-top: 5px;
    border-radius: 150%;
    border-bottom: 3px solid var(--medium-spring-green);
}

/*************************************************Hero*/
.containers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 91vh;
    background: url('../images/teamwork.jpg') no-repeat center center;
    background-size: cover;
    background-color: var(--steel-teal);
    background-blend-mode: hard-light;
}

.testimonials {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonial-1 {
    color: var(--white);
    width: 70%;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 1px 4px var(--oxford-blue);
    padding-left: 35px;
}


.testimonial-1 ~ p {
    font-size: 1.2rem;
    font-weight: 900;
    margin-top: 5px;
    margin-left: 60px;
    text-align: center;
    color: var(--white);
}

.left-btn, .right-btn {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    color: var(--st-patricks-blue);
    opacity: 10%;
    background-color: var(--medium-spring-green);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 10;
}

.left-btn {
    left: 180px;
    top: 45%;
}

.right-btn {
    right: 180px;
    top: 45%;
}

.left-btn:hover, .right-btn:hover {
    opacity: 1;
    color: var(--medium-spring-green);
    background-color: var(--oxford-blue);
    transition: all 0.5s ease;
}

.contact {
    height: 28px;
    font-size: 1.3rem;
    text-align: center;
    color: var(--medium-spring-green);
    background-color: var(--oxford-blue);
    cursor: pointer;
    border-radius: 16px;
    padding: 15px 10px;
    position: absolute;
    right: 50px;
    bottom: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact:hover {
    font-size: 150%;
    font-weight: 700;
    color: var(--oxford-blue);
    background-color: var(--medium-spring-green);
    transition: all 0.4s ease;
}

/*********************************************************About section*/

.row {
    width: 100%;
    height: 210px;
}

#about-section { 
    min-height: 100vh;
    width: 100%;
    background: url('../images/french-mountain.jpg') no-repeat center center;
    background-size:  cover;
    background-attachment: fixed;
    background-color: var(--aero-blue);
    background-blend-mode: hard-light;
}

h1#about {
    width: 100%;
    color: var(--oxford-blue);
    padding: 16px 0;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px var(--pacific-blue);
}

.about-background {
    height: 100%;
    width: 100%;

    position: absolute;
    z-index: -1;

}

.about-container {
    height:900px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.about-container p {
    width: 700px;
    padding-bottom: 16px;
}

.about-container h2 {
    width: fit-content;
    font-size: 1.8rem;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--medium-spring-green);
}

.wrapper-left { float: left;}
.wrapper-right { float: right;}

.wrapper-left, .wrapper-right {
    height: fit-content;
    width: fit-content;
    margin: 32px;
    font-size: 1rem;
    padding: 16px;
    color: var(--oxford-blue);
    background-color: transparent;
    text-align:justify;
    box-shadow: 1px 1px 4px var(--oxford-blue);
    position: relative;
}

.wrapper-left:hover, .wrapper-right:hover {
    background-color: var(--white);
    transition: all .3s ease;
}

.quote-box {
    font-weight: 700;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
/***********************************************************Why us section*/
.section-space {
    width: 100%;
    border-bottom: 3px ridge var(--aero-blue);
}

#why-us {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 48px;
    background: url('../images/grass-pattern.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--medium-spring-green);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.why-us-head {
    width: 100%;
    color: var(--white);
    padding: 16px 0;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 1px 1px 2px var(--oxford-blue);
}

.container-row {
    height: fit-content;
    background-color: var(--oxford-blue);
    box-shadow: 1px 1px 8px var(--oxford-blue);
    max-width: 70%;
    padding: 32px 16px 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.left-col { float: left;}
.right-col { float: right;}

.left-col, .right-col {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-col {
    width: 550px;
    height: 250px;
}

.img {
    border-radius: 16px;
    border: 1px solid var(--medium-spring-green);
}
.text {
    width: 90%;
    font-size: 16px;
    color: var(--white);
    background-color: var(--oxford-blue);
    margin-top: 16px;
    text-align: justify;
}

.text h2 {
    width: fit-content;
    padding: 0 16px;
    border-bottom: 1px solid var(--medium-spring-green);
}
.text p {
    margin-top: 16px;
}

.coaching-img {
    width: 100%;
    height: 100%;
    background: url('../images/together.jpg') no-repeat center center;
    background-size: cover;
    background-position: 0 0;
}

.group-img {
    width: 100%;
    height: 100%;
    background: url('../images/group-img-two.jpg') no-repeat center center;
    background-size: cover;
}

.perspective-img {
    width: 100%;
    height: 100%;
    background: url('../images/perspective-two.jpg') no-repeat center center;
    background-size: cover;
    background-color: var(--aero-blue);
    background-blend-mode: hard-light;
}

.happy-people-img {
    width: 100%;
    height: 100%;
    background: url('../images/happy-people.jpg') no-repeat center center;
    background-size: cover;
    background-color: var(--aero-blue);
    background-blend-mode: hard-light;
}

/***********************************************************Media Queries*/

@media screen and (max-width: 1430px) {
    .left-btn {
        left: 0;
        margin-left: 45px;
    }
    .right-btn {
        right: 0;
        margin-right: 45px;
    }
    .testimonial-1 {
        font-size: 3rem;
        width: 75%;
    }
}

@media screen and (max-width: 1200px){
    .container-row {
        max-width: 90%;
    }
}

@media screen and (max-width: 815px) {
    .about-container p {
        width: 100%;
    }
    .wrapper-left, .wrapper-right {
        width: 90%;
        margin: 32px 0;
        padding: 16px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .testimonial-1 {
        font-size: 2rem;
        width: 80%;
    }
    .left-btn {
        margin-left: 20px;
    }
    .right-btn {
        margin-right: 20px;
    }

    .contact {
        right: 0;
        bottom: 0;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .container-row {
        max-width: 95%;
        padding: 32px 5px 16px;
    }
    .left-col { float: left;}
    .right-col { float: left;}

    .left-col, .right-col {
        width: 100%;
        margin: 8px 0;
    }
}

@media screen and (max-width: 486px) {
    .hero-img {
        background: url('../images/mountain.jpeg') no-repeat center center;
        background-size: cover;
    }
    #about-section { 
        background: url('../images/ocean-waves.jpeg') no-repeat center center;
        background-color: var(--aero-blue);
        background-size: cover;
    }
    .testimonial-1 {
        font-size: 1.5rem;
        width: 90%;
    }
    .contact {
        margin-right: 40px;
        margin-bottom: 60px;
    }
}


