@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap');

/*******************************************************Defaults*/
:root {
    --medium-spring-green: #38ffaaff;
    --pine-green: #1d7a6dff;
    --midnight-green-eagle-green: #124655ff;
    --oxford-blue: #07113dff;
    --sky-blue-crayola: #54defdff;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
    overflow-y: hidden;
}

header, h1, h2, h3 { font-family: 'Lato', sans-serif;}

/*********************************************************Header*/

.page-container {
    min-height: 100vh;
}

header {
    width: 100%;
    height: 80px;
    box-shadow: 1px 1px 4px var(--oxford-blue);
    position: fixed;
}

.logo-container {
    height: 80px;
    width: 350px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

#logo {
    width: 250px;
    height: 60px;
    background: url('../images/logo-transparent.png') no-repeat center center;
    background-size: contain;
    margin-top: 5px;
    cursor: pointer;
}

#slogan {
    color: var(--oxford-blue);
    font-weight: 700;
    font-size: .8rem;
    margin-left: 5px;
}

nav {
    width: 70%;
    height: 80px;
    float: right;
    background-color: var(--oxford-blue);
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu li {
    width: 125px;
    display: inline;
}

.menu a,
.hidden-links {
    color: var(--medium-spring-green);
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover,
.hidden-links:hover {
    font-size: 1.3rem;
    font-weight: 700;
}

.hidden-links {
    display: none !important;
}

.dropbtn {
    height: 80px;
    width: 130px;
    font-size: 1rem;
    background-color: var(--medium-spring-green);
    border-radius: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--oxford-blue);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}

.dropdown-content a {
    color: var(--medium-spring-green);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--oxford-blue);
    background-color: var(--medium-spring-green);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: var(--pine-green);
    background-color: var(--midnight-green-eagle-green);
}

/***********************************************************Body*/

main {
    width: 100%;
    height: 300px;
}

/************************************************************Footer*/
footer {
    height: 150px;
    width: 100%;
    border-top: 3px solid var(--medium-spring-green);
    background-color: var(--oxford-blue);
    position: absolute;
    bottom: 0;
}

/**************************************************************Media Queries */

@media screen and (max-width: 1150px) {

    .logo-container {
        background-color: var(--oxford-blue);
    }
    #logo {
        width: 200px;
        height: 90px;
        background-color: var(--oxford-blue);
        background: url('../images/logo-reverse.jpg') no-repeat center center;
        background-size: contain;
        margin-top: -15px;
        cursor: pointer;
    }
    
    #slogan {
        color: white;
        position: relative;
        z-index: 3;
        text-shadow: none;
        margin-left: 5px;
        margin-top: -15px;
    }
}

@media screen and (max-width: 768px) {
    .logo-container {
        height: 120px;
        width: 100%;
        box-shadow: 1px 1px 4px var(--oxford-blue);
        justify-content: center;
    }

    #slogan {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }

    nav {
        height: 325px;
        transform: translateY(120px);
        box-shadow: 1px 1px 4px;
    }

    .menu {
        display: block;
    }

    .menu li {
        margin-top: 25px;
        margin-left: 10px;
        display: block;
    }

    .hidden-links {
        display: block !important;
    }

    .dropdown {
        display: none;
    }
    
}